@import "./src/assets/mixins";


.searchInput {
  width: 80%;
  height: 10vh;
  @include flexCenter(row);
  justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
  .searchInput {
    width: 80%;
    justify-content: space-between;
  }
}