@import "./src/assets/variables";


.customInput {
  padding: 0 10px;
  width: 50%;
  height: 50%;
  font-size: 18px;
  border: 1px solid $blue;
  border-radius: 8px;
  background-color: $lightBlue;
  outline: none;
}

@media screen and (max-width: 1200px) {
  .customInput {
    width: 70%;
    font-size: 15px;
  }
}