@import "./src/assets/mixins";


.info {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

@media screen and (max-width: 1000px) {
  .info {
    width: 50%;
    height: 150px;
    flex-direction: column;

    div {
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;

      p {
        width: 100%;
        @include cutToEllipses();
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .info {
    width: 70%;

    div {
      p {
        font-size: 17px;
        line-height: 20px;
      }
    }
  }
}