@import "./src/assets/variables";
@import "./src/assets/mixins";


.item {
  padding: 0 40px;
  margin-bottom: 20px;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 16px;
  background-color: $lightBlue;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .avatar {
    width: 10%;
    height: 100%;
    @include flexCenter(column);

    img {
      height: 50%;
    }
  }

  .info {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    p {
      @include flexCenter(row);
      width: calc(100% / 3);
      height: 100%;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
    }
  }
}