@import "./src/assets/mixins";


.avatar {
  width: 10%;
  height: 100%;
  @include flexCenter(column);

  img {
    height: 50%;
  }
}

@media screen and (max-width: 730px) {
  .avatar {
    display: none;
  }
}